{% extends 'base.html' %}

{% block head %}
<div>
    <h1 class="h3 mb-3 fw-normal text-center py-5"> 
        Date level analyze 
    </h1>
</div>
{% endblock %}

{% block body %}
<div class="container-md text-center">
    <form id="uploadForm" action="/analyze_as_date" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="logFile" class="form-label"> Choose a File</label>
            <input class="form-control" type="file" id="logFile" name="logFile" accept=".log,.txt,.pdf">
            <br>
        </div>
        <button class="btn btn-lg btn-secondary" type="submit">Analyze</button>
    </form>
</div>
{% endblock %}